* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #cd9c6d;
    color: #333;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    background-color: #ad7e51;
    padding: 20px 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
   
  main {
    padding: 40px 10%;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-gap: 250px;
    justify-items: center;
  }
  .subir{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-post {
    background-color: #ffd1a7;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%; /* Se ajustará al ancho del grid */
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .profile-pic {
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
  }

  .username {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .user-content textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }
  
  .auth-buttons {
    position: absolute;
    top: 80px;
    right: 0;
    display: grid;
    grid-column-start: 2;
  }
  
  .auth-buttons button {
    background-color: #8d6236;
    color: #fff;
    border: none;
    padding: 10px 25px;
    margin-left: 10px;
    border-radius: 19px;
    cursor: pointer;
    transition: background-color 0.3s;

  }
  
  .auth-buttons button:hover {
    background-color: #6d3e01;
  }
  
  .post-container {
    margin-top: 100px;
    background-color: #ffd1a7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    height: auto;
    grid-column-start: 2;
    
  }
  
  .post-container h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  img{
    width: 420px;
  }
  textarea{
    resize: none;
    width: 120px;
  }

  .contenedor-publi{
    display: flex;
    flex-direction: row;
  }

  .gatoElfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif
  }

  .gatoElfo img{
    width: 50px;
  }

  


  @media (max-width: 1024px) {
    header {
      padding: 20px 5%;
    }
  
    .auth-buttons {
      right: 5%;
    }

    img{
      width: 300px;
    }
  
    .post-container, .user-post {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    header h2 {
      font-size: 1.2rem;
    }
    
    img{
      width: 300px;
    }
  
    .auth-buttons {
      top: 10px;
    }
  
    .post-container, .user-post {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    header h2 {
      margin-bottom: 10px;
      font-size: 1rem;
    }
  
    .auth-buttons {
      flex-direction: column;
      top: 10px;
      right: 10px;
    }
  
    .auth-buttons button {
      width: 100%;
    }
  
    .post-container, .user-post {
      width: 95%;
    }
  }
 /*botones*/
 .botonav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d6236;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
 }

header button:hover{
  background-color: #6d3e01;
}