* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: white;
  color: rgb(31, 31, 31);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.darkmode {
  background-color: rgb(31, 31, 31);
  color: white;
}

header .darkmode {
  box-shadow: 0 4px 6px darkgray;
}

.darkmode main {
  background-color: rgb(31, 31, 31);
  color: white;
}

.darkmode .post-container {
  background-color: rgb(31, 31, 31);
  color: white;
}

.darkmode header {
  background-color: rgb(31, 31, 31);
  color: white;
}

.darkmode header a {
  color: white;
}
.header-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.header-profile-picture:hover {
  transform: scale(1.1);
}


.session {
  display: flex;
  padding: 2px;
  gap: 15px;
}

.session a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  border-radius: 15px;
  padding: 8px;
  font-size: small;
}
.session button {
  text-decoration: none;
  color: rgb(31, 31, 31);
  border-radius: 15px;
  padding: 8px;
  font-size: small;
}

.darkmode .session a {
  color: white;
}
.darkmode button {
  background-color: white;
}

.session a:hover {
  color: white;
  background-color: rgb(31, 31, 31);
  transition: 0.5s;
}

.darkmode .session a:hover {
  background-color: white;
  color: rgb(31, 31, 31);
}

.miLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.miLogo img {
  width: 50px;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
}

.navegacion a {
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 5px;
  border-bottom: solid 1px rgb(31, 31, 31);
}

.darkmode .navegacion a {
  color: white;
  border-bottom: solid 1px white;
}

main {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-rows: auto;
  padding: 40px;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  grid-column: 2/3;
}

.contenedor-publi {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 2px 4px rgb(31, 31, 31);
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  color: rgb(31, 31, 31);
}

.darkmode .contenedor-publi {
  background-color: rgb(31, 31, 31);
  color: white;
  box-shadow: 0 2px 4px rgb(82, 82, 82);
}

.gatoElfo {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.gatoElfo img {
  width: 50px;
  border-radius: 80px;
}

.contenidoPubli {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 1px 1px 1px darkgray;
}

.darkmode .contenedor-publi {
  box-shadow: 0 1px 1px 1px rgb(82, 82, 82);
}

.contenidoPubli p {
  padding: 10px;
}

.contenidoPubli img {
  width: 100%;
  max-width: 420px;
  height: auto;
}

.tituloPubli {
  text-align: center;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  grid-column: 3/4;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-post {
  background-color: rgb(31, 31, 31);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px; /* Reducir tamaño del texto */
  padding: 8px 16px;
}

.darkmode .dropdown-post {
  background-color: white;
  color: rgb(31, 31, 31);
}

.dropdown-post:hover {
  background-color: white;
  color: rgb(31, 31, 31);
}

.darkmode .dropdown-post:hover {
  background-color: rgb(31, 31, 31);
  color: white;
}
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(31, 31, 31);
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgb(41, 40, 40);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }


  .hamburger {
    display: block;
  }

  
  .menu.active {
    display: flex;
  }


  .menu .navegacion,
  .menu .session {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

.contenidoPubli img {
  width: 380px;
}

@media (max-width: 482px) {
  .session {
    flex-direction: column;
    gap: 10px;
  }

  .contenidoPubli img {
    width: 320px;
  }
}

.bdark {
  border-radius: 8px;
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: x-small;
}

.darkmode .bdark {
  background-color: white;
  color: rgb(31, 31, 31);
}
.menu {
  display: flex;
  gap: 20px;
}
.modal {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  left: 0;
  top: 0;
  width: 100% !important;
  background-color: rgb(92, 88, 88);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
