.gradient-custom-2 {
  /* fallback for old browsers */
  background: whitesmoke;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(175, 175, 175),
    rgb(216, 216, 216),
    whitesmoke,
    #bbbbbb
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(224, 224, 224),
    rgb(211, 211, 211),
    rgb(199, 199, 199),
    #a5a5a5
  );
}

.darkmode .gradient-custom-2 {
  background: rgb(23, 23, 23);

  background: -webkit-linear-gradient(
    to right,
    rgb(23, 23, 23),
    rgb(23, 23, 23),
    black
  );

  background: linear-gradient(
    to right,
    rgb(23, 23, 23),
    rgb(23, 23, 23),
    black
  );
}

label .darkmode {
  color: white;
}

h4 .darkmode {
  color: white;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
