*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
gap: 120px;
}
main > section {
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el section y el contenedor .votaform */
  max-width: 600px; /* Limita el ancho para mejor visualización */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  .header-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.header-profile-picture:hover {
    transform: scale(1.1);
}

  .session{
    display: flex;
    padding: 2px;
    gap: 15px;
  }

  .session a{
    text-decoration: none;
    color: black;
    font-size: medium;
    padding: 10px;
    border-radius: 15px;
    
  }

  .session a:hover{
    color: rgb(5, 5, 5);
    background-color: #707070;
    transition: 0.5s;
  }

  .miLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .miLogo img{
    width: 50px;
  }

  .navegacion{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-top: 15px;
  }

  .navegacion a{
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 5px;
    border-bottom: solid 1px black;
  }
  .votaform{
    background-color: #f8f6f6;
    box-shadow: 0 4px 12px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50%;
    border-radius: 20px;
    margin: auto;
    padding: 100px;
}
.profile{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.profile img{
  border-radius: 80px;
  width: 50px;
}
.votar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.votar button{
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: 2px;
  padding: 10px 50px; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.votar button:hover{
  background-color: #746f6f;
}